@media only screen and (max-width : 768px){
:root{
    --rp-vidLk-w : calc(100% - 20px);
}
@font-face{
  font-family : "myFont";
  src : url("http://localhost/media/fonts/TromboloniDemo-zrOzl.ttf");
}
.bold{
    font-weight : bold;
}
.std-fnt{
    font-size : 14px;
}
.cvr{
    object-fit : cover;
}
p,h1{
    font-size: 14px;
}
h2{
    font-size : 14px;
    color : #ff0020b5;
}

.section-info{
    width : 100%;
    min-height : 30px;
    margin-bottom : 10px;
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
    padding: 0px;
    border-bottom: 2px solid #eaeaea;
    color: red;
}
.section-info h1{
    font-size : 14px;
    display : inline-block;
    margin: 0;
    width : fit-content;
    padding : 7px;
    /*border-left: 4px solid red;*/
    font-weight: 500;
    font-family: grote;
}

#events-section-bg{
    /* full-h */
    position : absolute;
    top : 0;
    left : 0;
    opacity : var(--events-bg-opcty);
    z-index : -1;
}

/* end */

.audio-charts{
    flex-direction : column;
    gap : 5px;
}

/* end of charts */

#link-portrait-video{
    flex : 0 0 auto;
    display : flex;
    flex-direction : column;
    align-items: center;
    gap : 10px;
}
a{
    text-decoration : none;
}

/* remove */
#link-to-actuality{
    font-size : 14px;
    font-weight : bold;
    color : black;
}
/* right panel */
.rp-vid-Lk{
    width : var(--rp-vidLk-w);
    padding : 0 10px;
}

.vid-container{
  position : relative;
}

.icon-bg{
  width: calc(100% - 20px);
  height : 100%;
  z-index : 10;
  flex-direction : column;
}

.icon-bg.back{
  z-index : -10;
}

.vid-ctrl{
  font-size : 64px;
  transition : transform 0.5s ease, opacity 0.6s linear;
  color : #0827b1;
  opacity : 1;
  animation : beepAnimation infinite 0.5s ease;
}
/* .vid-ctrl.beep{
  transform : scale(1.14);
} */
.vid-ctrl.hide{
  opacity : 0;
}

.abs-pos{
  position : absolute;
}

.cntr{
  justify-content : center;
  align-items : center;
}

/* other file */
.full-vh{
    height : 100vh;
}
.blk-bg{
    background-color : #324158;
}
.srch{
    position : fixed;
    top : 0;
    left : 0;
    display : none;
    flex-direction : column;
    gap : 30px;
    padding : 15px 20px;
    width : calc(100% - 40px);
    max-width : 0;
    z-index : 102;
    overflow: hidden;
    transition : max-width 0.5s ease;
}

.srch.open{
    max-width : 100%;
}

.search-pg-bar{
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    outline : 1px solid black;
    justify-content : space-between;
    gap: 10px;
    padding: 0px 5px;
    height : 50px;
    width : calc(100% - 10px);
    background-color : #ffffff;
    flex: 0 0 auto;
}

.search-pg-bar input{
    font-size : 18px;
    height : 30px;
}
.search-pg-bar ion-icon{
    font-size : 42px;
}
#close-srch-win{
    transition : transform 0.3ms linear;
}
#close-srch-win.active{
    transform : scale(1.1);
}
.crcl{
    display: inline-block;
    flex: 0 0 auto;
    width: fit-content;
    height: fit-content;
    /* background-color: red; */
    /* border-radius : 50%; */
}

/* middle panel */
.media-row-content{
    width: 100%;
}
#music-charts-video{
    flex-direction : column;
}
.media-row-content:not(:nth-child(1)){
    display : none;
}

/* partners */
.partners {
    display: flex;
    width : 100%;
    flex-direction : row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px; /* spacing between logos */
    padding: 0 0px;
    flex-wrap: nowrap;
}

/* news */
.news-content{
    flex-direction: row;
    gap: 3px;
}
.news-content *{
    flex : 0 0 auto;
}
.news-content-link{
    width: 50%;
    height: 110px;
}
.news-image-background{
    display : none;
    position : absolute;
    top : 0;
    left : 0;
    height : 50px;
    width : 90px;
    z-index: -10;
}
.news-img{
    width: 100%;
    height: 100%;
}
.news-headline{
    width: 49%;
    height : 100%;
    flex-direction : column;
    justify-content: flex-start;
    overflow : hidden;
}
article{
    background-color : #d8d7d7;
    padding : 5px 0px 5px 5px;
    width : calc(100% - 5px) !important;
}

.news-a{
    font-size : 10px;
    overflow : hidden;
    margin : 3px;
}

.artc-info{
    font-size : 9px;
}
.artc-info .date{
    color : orange;
    margin-left : 3px;
}

}
